#chartdiv {
    width: 100%;
    height: 700px;
  }

#chartdiv1 {
    width: 100%;
    height: 700px;
}

#chartdiv2 {
  /* width: 100%; */
  height: 700px;
}

#chartdiv3 {
  width: 100%;
  height: 500px;
}