#chartdiv {
    /* width: 100%; */
    height: 400px;
  }

#chartdiv1 {
    /* width: 100%; */
    height: 500px;
}

#chartdiv2 {
  /* width: 100%; */
  height: 500px;
}

#chartdiv3 {
  /* width: 100%; */
  height: 500px;
}

#chartdiv4 {
  /* width: 100%; */
  height: 600px;
}

#chartdiv5 {
  /* width: 100%; */
  height: 500px;
}